{template "content","header"}

<style>
body{background:url(statics/images/img/wxbg.jpg) no-repeat center 0;}
</style>

<div class="wxmenu">
	<h1>微信</h1>
	<a class="cur" href="index.php?m=content&c=index&a=show&catid=30&id=14">微信</a>
	<a href="#">微博</a>
	<a href="index.php?m=content&c=index&a=show&catid=30&id=15" target="_self">手机客户端</a>
	<a href="#">集团官网</a>
</div>
<div class="wxcont">
	<div class="code"><img src="statics/images/img/wxcode.jpg" alt=""/><span>请使用手机扫一扫二维码</span></div>
	<div class="desc"><h2>明康汇 - 微信</h2><p>超过三亿人使用的手机应用<br />支持购物、分享为一体<br />可以轻轻松松买到你想要的健康食品。<br />超过三亿人使用的手机应用支持购物、分享<br />为一体可以轻轻松松买到你想要的健康食品。</p></div>
</div>

{template "content","footer"}